

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 12px;
    max-width:none!important;
}

.title {
    font-family: 'Poppins', sans-serif;
}


/* #region ANIMATIONS */

@keyframes weekago {
    0%   {background-color: rgb(255, 248, 184);}
    50%  {background-color: white;}
    100% {background-color: rgb(255, 248, 184);}
}

@keyframes monthago {
    0%   {background-color: #ffa9a8;}
    50%  {background-color: white;}
    100% {background-color: #ffa9a8;}
}

.week {
    animation-name: weekago;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.month {
    animation-name: monthago;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

a,
a:visited,
a:hover,
a:active {
    color: inherit;
}
/* #endregion */

/* #region TABLE */

mat-chip {
    height: 40px;
}

::ng-deep .mat-tab-body-content{
    overflow: hidden!important;
    height: auto!important;
}

::ng-deep .mat-sort-header-container, .mat-header-cell{
    text-align: center;
    justify-content: center;
}

::ng-deep td, th{
    padding: 16px!important;
}

.clickableText{
    cursor: pointer!important;
}

.clickableText:hover{
    text-shadow: 1px 1px #251d4b9b;
}

.actionbuttons {
    display: flex;
    margin: 15px;
    flex-direction: column;
    align-content: center;
}

.finalized {
    background-color: rgb(207, 245, 207);
}

.inProgress {
    background-color: rgb(247, 241, 195);
}

.pending {
    background-color: rgb(253, 215, 215);
}

/* #endregion */