
<div class="container">
    <h1 class="title">TESTS</h1>
</div>
<mat-tab-group mat-align-tabs="center" #tabs (selectedTabChange)="realignInkBar()">
    <mat-tab label="Pending Tests">
        <div class="container">
            <mat-form-field appearance="standard">
                <mat-label><mat-icon>filter_list</mat-icon>Filter</mat-label>
                <input matInput (keyup)="applyFilter($event, dataSourcePending)" placeholder="Ex. Allergy" #input>
            </mat-form-field>
            <div class="mat-elevation-z8">
                <table class="table-auto" mat-table #sortPending="matSort" [dataSource]="dataSourcePending" matSort matSortActive="createdAt" matSortDirection="desc">
                    <ng-container matColumnDef="createdAt">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
                        <td mat-cell *matCellDef="let row">
                            <mat-chip-list>
                                <mat-chip class="pending">
                                    {{row.createdAt | date:'dd/MM/yyyy h:mm a'}}
                                </mat-chip>
                            </mat-chip-list>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="fullname">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Patient </th>
                        <td mat-cell *matCellDef="let row"> 
                            <p (click)="openPatientInformationDialog(row.patientID, row.fullname)" class="clickableText">
                                {{row.fullname}} 
                            </p>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="symptoms">
                        <th mat-header-cell *matHeaderCellDef> Symptoms </th>
                        <td mat-cell *matCellDef="let row">
                            <p *ngFor="let symptom of parseSymptoms(row.symptoms)">
                                • {{symptom}}
                            </p>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="result">
                        <th mat-header-cell *matHeaderCellDef> Result </th>
                        <td mat-cell *matCellDef="let row">
                            <p *ngFor="let diagnosis of row.result" (click)="openDiagnosisDialog(diagnosis.name)" class="clickableText">
                                • {{ diagnosis.name }} - %{{ (diagnosis.probability * 100).toFixed(2)}}
                            </p>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef> Actions </th>
                        <td mat-cell *matCellDef="let row">
                            <div>
                                <button mat-raised-button class="actionbuttons" color="warn" (click)="openPatientMonitoringDialog(row.patientID, row.fullname)">
                                    Patient Monitoring
                                </button> 
                                <button class="actionbuttons" color="warn" mat-raised-button (click)="openConfirmTestDialog(row.id)">
                                    Start a Chat
                                </button>
                                <button class="actionbuttons" color="warn" mat-raised-button (click)="openFinalizeDialog(row.id)">
                                    Finalize the Test
                                </button>
                            </div>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumnsPending"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsPending;" [ngClass]="isPendingLong(row.createdAt)"></tr>

                </table>

                <div class="p-6" *ngIf="dataSourcePending.data.length == 0">
                    <p>There are no pending tests.</p>
                </div>

                <mat-paginator #paginatorPending [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of tests"></mat-paginator>
            </div>

        </div>
    </mat-tab>
    <mat-tab label="In Progress Tests">
        <div class="container">
            <mat-form-field appearance="standard">
                <mat-label><mat-icon>filter_list</mat-icon>Filter</mat-label>
                <input matInput (keyup)="applyFilter($event, dataSourceInProgress)" placeholder="Ex. Allergy" #input>
            </mat-form-field>
            <div class="mat-elevation-z8">
                <table class="table-auto" mat-table #sortInProgress="matSort" [dataSource]="dataSourceInProgress" matSort matSortActive="createdAt" matSortDirection="desc">

                    <ng-container matColumnDef="createdAt">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
                        <td mat-cell *matCellDef="let row">
                            <mat-chip-list>
                                <mat-chip class="inProgress">
                                    {{row.createdAt | date:'dd/MM/yyyy h:mm a'}}
                                </mat-chip>
                            </mat-chip-list>
                        </td>
                    </ng-container>


                    <ng-container matColumnDef="fullname">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Patient </th>
                        <td mat-cell *matCellDef="let row"> 
                                
                            <p (click)="openPatientInformationDialog(row.patientID, row.fullname)" class="clickableText align-center">
                                {{row.fullname}}
                            </p>
                            
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="symptoms">
                        <th mat-header-cell *matHeaderCellDef> Symptoms </th>
                        <td mat-cell *matCellDef="let row">
                            <p *ngFor="let symptom of parseSymptoms(row.symptoms)">
                                • {{symptom}}
                            </p>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="result">
                        <th mat-header-cell *matHeaderCellDef> Result </th>
                        <td mat-cell *matCellDef="let row">
                            <p *ngFor="let diagnosis of row.result" (click)="openDiagnosisDialog(diagnosis.name)" class="clickableText">
                                • {{ diagnosis.name }} - %{{ (diagnosis.probability * 100).toFixed(2)}}
                            </p>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef> Actions </th>
                        <td mat-cell *matCellDef="let row">
                            <button mat-raised-button class="actionbuttons" color="warn" (click)="openPatientMonitoringDialog(row.patientID, row.fullname)">Patient Monitoring</button> 
                            <button mat-raised-button class="actionbuttons" color="warn" (click)="openFinalizeDialog(row.id)">Finalize</button>    
                            <button mat-raised-button class="actionbuttons" color="warn" (click)="openDepartmentDialog(row.id, row.department)">Re-assign</button>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="chat">
                        <th mat-header-cell *matHeaderCellDef> Chat </th>
                        <td mat-cell *matCellDef="let row">
                            <ng-template [ngIf]="row.chatID != '' ">
                                <span *ngIf="isChatUnread(row.chatID)" matBadge="*" matBadgePosition="after" matBadgeColor="accent"></span>
                                <button mat-icon-button (click)="openChatDialog(row.chatID, row.id)">
                                    <mat-icon color="warn">message</mat-icon>
                                </button>
                            </ng-template>
                            <ng-template [ngIf]="row.chatID == '' ">
                                -
                            </ng-template>

                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumnsInProgress"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsInProgress;"></tr>

                </table>
                <div class="p-6" *ngIf="dataSourceInProgress.data.length == 0">
                    <p>There are no tests in progress.</p>
                </div>
                <mat-paginator #paginatorInProgress [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of tests"></mat-paginator>
            </div>
        </div>
    </mat-tab>

    <mat-tab label="Finalized Tests">
        <div class="container">
            <mat-form-field appearance="standard">
                <mat-label><mat-icon>filter_list</mat-icon>Filter</mat-label>
                <input matInput (keyup)="applyFilter($event, dataSourceFinalized)" placeholder="Ex. Allergy" #input>
            </mat-form-field>
            <div class="mat-elevation-z8">
                <table class="table-auto" mat-table #sortFinalized="matSort" [dataSource]="dataSourceFinalized" matSort matSortActive="createdAt" matSortDirection="desc">
                    <ng-container matColumnDef="createdAt">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
                        <td mat-cell *matCellDef="let row">
                            <mat-chip-list>
                                <mat-chip class="finalized">
                                    {{row.createdAt | date:'dd/MM/yyyy h:mm a'}}
                                </mat-chip>
                            </mat-chip-list>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="fullname">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Patient </th>
                        <td mat-cell *matCellDef="let row"> 
                            <p (click)="openPatientInformationDialog(row.patientID, row.fullname)" class="clickableText">
                                {{row.fullname}} 
                            </p>
                            

                        </td>
                    </ng-container>

                    <ng-container matColumnDef="symptoms">
                        <th mat-header-cell *matHeaderCellDef> Symptoms </th>
                        <td mat-cell *matCellDef="let row"> 
                            <p *ngFor="let symptom of parseSymptoms(row.symptoms)">
                                • {{symptom}}
                            </p>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="result">
                        <th mat-header-cell *matHeaderCellDef> Result </th>
                        <td mat-cell *matCellDef="let row">
                            <p *ngFor="let diagnosis of row.result" (click)="openDiagnosisDialog(diagnosis.name)" class="clickableText">
                                • {{ diagnosis.name }} - %{{ (diagnosis.probability * 100).toFixed(2)}}
                            </p>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="final diagnosis">
                        <th mat-header-cell *matHeaderCellDef> Final Diagnosis </th>
                        <td mat-cell *matCellDef="let row">
                            <p (click)="openDiagnosisDialog(row.finalDiagnosis)" class="clickableText">{{ row.finalDiagnosis }}</p>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="chat">
                        <th mat-header-cell *matHeaderCellDef> Chat History </th>
                        <td mat-cell *matCellDef="let row">
                            <ng-template [ngIf]="row.chatID != '' ">
                                <span *ngIf="isChatUnread(row.chatID)" matBadge="*" matBadgePosition="after" matBadgeColor="accent"></span>
                                <button mat-icon-button (click)="openChatDialog(row.chatID, row.id)">
                                    <mat-icon color="warn">message</mat-icon>
                                </button>
                            </ng-template>
                            <ng-template [ngIf]="row.chatID == '' ">
                                -
                            </ng-template>

                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumnsFinalized"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsFinalized;"></tr>

                </table>
                <div class="p-6" *ngIf="dataSourceFinalized.data.length == 0">
                    <p>There are no finalized tests.</p>
                </div>
                <mat-paginator #paginatorFinalized [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of tests"></mat-paginator>
            </div>
        </div>
    </mat-tab>
</mat-tab-group>