.container {
    padding: 100px;
}

.mat-form-field {
    font-size: 16px;
}

.container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 12px;
}

td,
th {
    width: 25%;
}

mat-card {
    margin: 20px;
}

.errorNote {
    padding: 25px;
}

.mat-chip {
    /* background-color: #e1fbfb; */
    /* background-color: rgb(239, 245, 208); */
    background-color: #b2dfdb;
}

.title {
    font-family: 'Poppins', sans-serif;
}

.mat-table {
    width: 1000px;
}