.container {
    padding: 100px;
}

.mat-form-field {
    font-size: 14px;
}


.container2{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 12px;
}

td,
th {
    width: 25%;
}


mat-card{
    margin: 20px;
}