#loading {
    size: 10px;
}

.symptomsTable {
    margin: 15px;
    width: 200px;
}

.diagnosisTable {
    margin: 15px;
    width: 200px;
}

.diagnosis-card {
    margin: 15px;
    padding: 20px;
    width: 400px;
}

.precautions-card {
    margin: 15px;
    padding: 20px;
    width: 250px;
}
.symptomsForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}


.clickable {
    cursor: pointer
}

.firstCard {
    width: 900px;
    height: 500px;
    margin: auto;
    background-color: #c8e0de;
    /* background-color: #033f63; */
}

.insideCard {
    width: 200px;
    height: 275px;
}

.start {
    font-family: 'Koulen', cursive;
    font-size: 30px;
    text-align: center;
    padding-bottom: 100px;
}

.title {
    font-family: 'Koulen', cursive;
    text-align: center;
    padding-top: 20px;
}

.icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    transform: scale(2);
    padding-top: 10px;
}

.content {
    padding-top: 15px;
    text-align: center;
}

::ng-deep .mat-horizontal-stepper-header{
    pointer-events: none !important;
}
