<div class="container">

    <mat-stepper linear #stepper>
        <mat-step [stepControl]="firstFormGroup" [editable]="false">
            <ng-template matStepLabel>Fill out the form</ng-template>
            <div class="symptomsForm">
                
                <mat-form-field class="example-form" appearance="fill">
                    <mat-label>Birth Year</mat-label>
                    <mat-select [(ngModel)]="selectedYear" required>
                        <mat-option *ngFor="let option of years" [value]="option">{{option}}</mat-option>
                    </mat-select>
                </mat-form-field>
    
                <mat-form-field appearance="fill" class="example-form">
                    <mat-label>Gender</mat-label>
                    <mat-select [(ngModel)]="selectedGender" required>
                        <mat-option value="female">Female</mat-option>
                        <mat-option value="male">Male</mat-option>
                    </mat-select>
                </mat-form-field>

    
                <form class="example-form">
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Symptoms</mat-label>
                        <input type="text" placeholder="Select Your Symptoms" aria-label="Symptom" matInput [formControl]="myControl" [matAutocomplete]="auto" #symptomInput>
                        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="selected($event)">
                            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                                {{option}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </form>
    
    
                <h4><b>My Symptoms:</b></h4>
                <mat-card *ngFor="let symptom of selectedSymptoms">
                    {{symptom}}
                    <button mat-icon-button aria-label="Remove Symptom" (click)="remove(symptom)">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-card>
    
                <h5 *ngIf="selectedSymptoms.length == 0">Please Select Some Symptoms</h5>
    
                <button mat-raised-button matStepperNext color="primary" (click)='getResult()' [disabled]="(selectedSymptoms.length == 0) || (selectedGender.length == 0) || (selectedYear.toString().length == 0)">Continue</button>
            </div>
            
        </mat-step>

        <mat-step [stepControl]="secondFormGroup" [editable]="false">
            <ng-container *ngIf="showLoader; else second">
                <div class="mt-5 text-center">
                    <img id="loading" src="https://upload.wikimedia.org/wikipedia/commons/b/b1/Loading_icon.gif?20151024034921"/>
                </div>
           </ng-container>
            <ng-template #second matStepLabel>Check Your Results</ng-template>

            <div class="container2" *ngIf="!showLoader">
                <table mat-table [dataSource]="possibleDiagnosis" class="mat-elevation-z8 table">
                    <ng-container matColumnDef="name">
                        <mat-header-cell mat-header-cell *matHeaderCellDef> Possible Diagnosis </mat-header-cell>
                        <mat-cell mat-cell *matCellDef="let element"> <b>{{element.name}} </b> - %{{ (element.probability * 100).toFixed(2)}}</mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row matRipple *matRowDef="let row; columns: displayedColumns; let i = index" (click)="selectedDiagnosisIndex = i"></mat-row>
                </table>
                <mat-card class="diagnosis-card" *ngIf="possibleDiagnosis.length != 0">
                    <mat-card-subtitle *ngIf="selectedDiagnosisIndex == 0">Most Possible Diagnosis</mat-card-subtitle>
                    <mat-card-title class="title"> {{ possibleDiagnosis[selectedDiagnosisIndex].name }}</mat-card-title>
                    <mat-card-subtitle>%{{ (possibleDiagnosis[selectedDiagnosisIndex].probability* 100).toFixed(2) }}</mat-card-subtitle>
                    <mat-card-content>
                        {{getDescription(possibleDiagnosis[selectedDiagnosisIndex].name)}}
                    </mat-card-content>
                    <mat-divider inset></mat-divider>
                    <mat-card-actions>
                        <button mat-button [routerLink]="['/recommendation', { diagnosis: possibleDiagnosis[selectedDiagnosisIndex].name} ]">Recommendation</button>
                    </mat-card-actions>
                </mat-card>
            </div>

        </mat-step>
    </mat-stepper>


</div>