.container {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container2 {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.diagnosis-card{
    margin: 15px;
    width: 400px;
}

.symptomsForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

mat-card {
    margin: 5px;
}

mat-form-field {
    width: 350px;
}

mat-row {
    cursor: pointer
}   