.example-icon {
    padding: 0 14px;
}

.example-spacer {
    flex: 1 1 auto;
}

.login-container {
    margin: 25px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

mat-hint {
    color: red!important;
}

mat-form-field {
    margin-bottom: 15px;
}

.mat-toolbar {
    /* background-color: #6d93b0; */
    background-color: #033f63;
}

.title {
    font-family: 'Poppins', sans-serif;
}