<h1 class="h1" mat-dialog-title> Monitoring History of {{data.patientName}}</h1>

<div class="container2">
    <mat-card class="mat-elevation-z8">
        <b>Displayed Columns</b>
        <br>
        <mat-divider></mat-divider>
        <br>
        <mat-checkbox (change)="controlView($event.checked, 'SystolicBP')" [checked]="true">
            <mat-label>Systolic Blood Pressure</mat-label>
        </mat-checkbox>
        <br>

        <mat-checkbox (change)="controlView($event.checked, 'DiastolicBP')" [checked]="true">
            <mat-label>Diastolic Blood Pressure</mat-label>
        </mat-checkbox>
        <br>

        <mat-checkbox (change)="controlView($event.checked, 'Temperature')" [checked]="true">
            <mat-label>Temperature</mat-label>
        </mat-checkbox>
        <br>

        <mat-checkbox (change)="controlView($event.checked, 'RandomBloodSugarLevel')" [checked]="true">
            <mat-label>Random Blood Sugar Level</mat-label>
        </mat-checkbox>

    </mat-card>

    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSourceMonitor" matSort matSortActive="Date" matSortDirection="asc">

            <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{column}} </th>
                <td mat-cell *matCellDef="let element">
                    <div *ngIf="column != 'Date' && column != 'delete'; else misc">
                        <p *ngIf="element[column] != 0"> {{element[column]}} </p>
                        <p *ngIf="element[column] == 0 || element[column] == 'NaN'"> - </p>
                        
                    </div>
                    <ng-template #misc>

                        <mat-chip-list color="primary">
                            <mat-chip color="primary"> {{ element[column] | date:'dd/MM/yyyy h:mm a' }} </mat-chip>
                        </mat-chip-list>
                    </ng-template>
                </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
            <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>

        </table>
        <div style="text-align: center; padding:10px" *ngIf="dataSourceMonitor.data.length == 0">
            <p>You do not have past values.</p>
        </div>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
    </div>
</div>