<div class="container2">
    <mat-card>
        <mat-card-title class="title"> Monitoring Values</mat-card-title>
        <mat-card-subtitle>Insert your results</mat-card-subtitle>
        <mat-divider inset></mat-divider>
        <div class="row">
            <div class="p-3 py-5">
                <div class="row mt-2">
                    <mat-form-field appearance="legacy" style="padding:10px">
                        <mat-label>High Blood Pressure</mat-label>
                        <input matInput [(ngModel)]="highBP" type="number">
                    </mat-form-field>
                    <mat-form-field appearance="legacy" style="padding:10px">
                        <mat-label>Low Blood Pressure</mat-label>
                        <input matInput [(ngModel)]="lowBP" type="number">
                    </mat-form-field>
                    <mat-form-field appearance="legacy" style="padding:10px">
                        <mat-label>Temprature</mat-label>
                        <input matInput [(ngModel)]="temprature" type="number">
                    </mat-form-field>
                    <mat-form-field appearance="legacy" style="padding:10px">
                        <mat-label>Blood Sugar Level</mat-label>
                        <input matInput [(ngModel)]="bloodSugarLevel" type="number">
                    </mat-form-field>
                </div>

                <div class="mt-5 text-center"><button mat-raised-button color="primary" type="button" (click)='saveResults()'>Save Changes</button></div>
            </div>
        </div>
    </mat-card>


    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSourceMonitor" matSort>

            <!-- ID Column -->
            <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
                <td mat-cell *matCellDef="let row">
                    <mat-chip-list color="primary" aria-label="Fish selection">
                        <mat-chip color="primary"> {{row.date | date:'dd/MM/yyyy'}}</mat-chip>
                    </mat-chip-list>
                </td>
            </ng-container>  

            <ng-container matColumnDef="highBP">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> High Blood Pressure </th>
                <td mat-cell *matCellDef="let row"> {{row.highBP}} </td>
            </ng-container>
            
            <ng-container matColumnDef="lowBP">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Low Blood Pressure </th>
                <td mat-cell *matCellDef="let row"> {{row.lowBP}} </td>
            </ng-container>

            <ng-container matColumnDef="temp">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Temprature </th>
                <td mat-cell *matCellDef="let row"> {{row.temprature}} </td>
            </ng-container>

            <ng-container matColumnDef="sugar">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Blood Sugar Level </th>
                <td mat-cell *matCellDef="let row"> {{row.bloodSugarLevel}} </td>
            </ng-container>

            <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
                <td mat-cell *matCellDef="let row"> 
                    <button mat-icon-button (click)="removeRow(row, row.eventId)">
                       <mat-icon>close</mat-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>
        <div style="text-align: center; padding:10px" *ngIf="dataSourceMonitor.data.length == 0">
            <p>You do not have past values.</p>
        </div>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
    </div>
</div>