mat-form-field {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px;
}

mat-chip {
    height: 40px;
}

::ng-deep td{
    padding: 12px!important;
    text-align: center !important;
}

::ng-deep .mat-sort-header-container,
.mat-header-cell {
    text-align: center !important;
    justify-content: center!important;
}

mat-card {
    margin: 20px;
}