

<h2 mat-dialog-title>Diagnosis Report of {{currentPatientName}} <h3>{{currentDate | date:'dd/MM/yyyy'}}</h3></h2> 


<mat-dialog-content class="mat-typography">

    <div class="container2">
        <table mat-table [dataSource]="symptoms" class="mat-elevation-z8 table symptomsTable">
            <ng-container matColumnDef="name">
                <mat-header-cell mat-header-cell *matHeaderCellDef> Symptoms </mat-header-cell>
                <mat-cell mat-cell *matCellDef="let element">{{element}}</mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumnsSymptoms"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumnsSymptoms; let i = index" (click)="selectedDiagnosisIndex = i"></mat-row>
        </table>

        
        <mat-card class="note-card" *ngIf="possibleDiagnosis.length != 0">
            <mat-card-title class="title"> Note</mat-card-title>
            <mat-card-content>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Leave a comment to the test owner</mat-label>
                    <textarea matInput placeholder="Ex. About your diagnosis..." class="text-area" [(ngModel)]="note"></textarea>
                </mat-form-field>
            </mat-card-content>
        </mat-card>
        
        <table mat-table [dataSource]="possibleDiagnosis" class="mat-elevation-z8 table">
            <ng-container matColumnDef="name">
                <mat-header-cell mat-header-cell *matHeaderCellDef> Possible Diagnosis </mat-header-cell>
                <mat-cell mat-cell *matCellDef="let element"> <b>{{element.name}} </b> - %{{ (element.probability * 100).toFixed(2)}}</mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumnsDiagnosis"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumnsDiagnosis; let i = index" (click)="selectedDiagnosisIndex = i"></mat-row>
        </table>
    </div>

</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close (click)="updateTest(note)">Send Report</button>
    <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>