<h2 mat-dialog-title>

    Starting Chat with {{currentPatientName}}
    <h3>{{currentDate | date:'dd/MM/yyyy h:mm a'}}</h3>
</h2>


<mat-dialog-content class="mat-typography">

    <div class="container2">
        <table mat-table [dataSource]="symptoms" class="mat-elevation-z8 table symptomsTable">
            <ng-container matColumnDef="name">
                <mat-header-cell mat-header-cell *matHeaderCellDef> Symptoms </mat-header-cell>
                <mat-cell mat-cell *matCellDef="let element">{{element}}</mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumnsSymptoms"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumnsSymptoms; let i = index" (click)="selectedDiagnosisIndex = i"></mat-row>
        </table>


        <mat-card class="note-card mat-elevation-z8" *ngIf="possibleDiagnosis.length != 0">
            <mat-card-title class="title"> Message</mat-card-title>
            <mat-card-content>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Write something to start the chat</mat-label>
                    <textarea matInput placeholder="Ex. About your diagnosis..." class="text-area" [(ngModel)]="note" tabindex="-1"></textarea>
                </mat-form-field>
            </mat-card-content>
        </mat-card>

        <table mat-table [dataSource]="possibleDiagnosis" class="mat-elevation-z8 table">
            <ng-container matColumnDef="name">
                <mat-header-cell mat-header-cell *matHeaderCellDef> Possible Diagnosis </mat-header-cell>
                <mat-cell class="flex justify-between items-center" mat-cell *matCellDef="let element"> <b>{{element.name}} </b> <p class="self-end">%{{ (element.probability * 100).toFixed(2)}}</p></mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumnsDiagnosis"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumnsDiagnosis; let i = index" (click)="selectedDiagnosisIndex = i"></mat-row>
        </table>
    </div>

</mat-dialog-content>
<mat-dialog-actions align="end">
    <!-- <button mat-button mat-dialog-close (click)="updateTest(note)">Send Report</button> -->
    <button mat-button mat-dialog-close tabindex="-1">Cancel</button>
    <button mat-button mat-dialog-close [disabled]="!note" (click)="chatService.create(getPatientId(), getTestId(), note); updateTest(); " tabindex="-1">Start the Chat</button>
</mat-dialog-actions>