.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

mat-grid-tile{
    width: 50%;
}