
<mat-dialog-content>
    <h1 mat-dialog-title> {{currentDiagnosisInformation.name}}</h1>
    <mat-card class="recommendation-card m-5 p-3">
        <mat-card-title>Information</mat-card-title>
        <mat-card-content>
            <ng-container *ngIf="showLoaderResult">
                <div class="mt-5 center">     
                    <mat-spinner></mat-spinner>
                </div>
            </ng-container>
            <ng-container *ngIf="!showLoaderResult">
                <mat-card-content>
                    {{ currentDiagnosisInformation.description }}
                </mat-card-content>
            </ng-container>
        </mat-card-content>
    </mat-card>

    <mat-card class="precautions-card m-5 p-3">
        <mat-card-title>Precautions</mat-card-title>
        <mat-card-content>
        
            <ng-container *ngIf="showLoaderResult">
                <div class="mt-5 center">     
                        <mat-spinner></mat-spinner>
                </div>
            </ng-container>
            
            <ng-container *ngIf="!showLoaderResult">
                <ul>
                    <ng-container *ngFor="let item of currentDiagnosisInformation.precautions; let i=index">
                        <li>• {{item}}</li>
                    </ng-container>    
                </ul>
            </ng-container>
        </mat-card-content>
    </mat-card>
          
</mat-dialog-content>

<mat-divider></mat-divider>

<mat-dialog-actions align="end">
    <button tabindex="-1" mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>