.container {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 400px;
    padding-right: 400px;
}

mat-card{
    margin: 50px;
}