<div class="container">
    <h1>TESTS</h1>
    
    <div>
        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSourceTests">


                <!-- Date Column -->
                <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
                    <td mat-cell *matCellDef="let row"> {{row.date  | date:'dd/MM/yyyy'}} </td>
                </ng-container>

                <!-- Symptoms Column -->
                <ng-container matColumnDef="symptoms">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Symptoms </th>
                    <td mat-cell *matCellDef="let row"> {{row.symptoms}} </td>
                </ng-container>

                <ng-container matColumnDef="result">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Result </th>
                    <td mat-cell *matCellDef="let row"> 
                        <p *ngFor="let diagnosis of row.result">
                            {{ diagnosis.name }} - %{{ (diagnosis.probability * 100).toFixed(2)}}
                        </p>
                    </td>
                </ng-container>

                <ng-container matColumnDef="note">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Note </th>
                    <td mat-cell *matCellDef="let row"> 
                        {{row.note}}
                    </td>
                </ng-container>


                <tr mat-header-row *matHeaderRowDef="displayedColumnsTests"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsTests;"></tr>

            </table>
            <div *ngIf="dataSourceTests.data.length == 0" class="errorNote"> <p>You do not have a past test.</p></div>

           
        </div>

    </div>
        
</div>