.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 12px;
    max-width:none!important;
}

.title {
    font-family: 'Poppins', sans-serif;
}

/* #region ANIMATIONS */



.read {

    animation-name: example;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes example {
    0%   {background-color: #c8e0de;}
    50%  {background-color: white;}
    100% {background-color: #c8e0de;}
  }

/* #endregion */



/* #region TABLE */

::ng-deep .mat-tab-body-content{
    overflow: hidden!important;
    height: auto!important;
}

::ng-deep .mat-sort-header-container, .mat-header-cell{
    text-align: center;
    justify-content: center;
}

::ng-deep td, th{
    padding: 16px!important;
}

.clickableText{
    cursor: pointer!important;
}

.clickableText:hover{
    text-shadow: 1px 1px #251d4b9b;
}

.actionbuttons {
    display: flex;
    margin: 15px;
    flex-direction: column;
    align-content: center;
}

.finalized {
    background-color: rgb(207, 245, 207);
}

.inProgress {
    background-color: rgb(247, 241, 195);
}

.pending {
    background-color: rgb(253, 215, 215);
}

.canceled {
    background-color: rgb(253, 215, 215);
}

/* #endregion */