.container {
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mat-form-field {
    font-size: 14px;
}

td,
th {
    width: 25%;
}