<h2 mat-dialog-title>

    Diagnosis Report of {{currentPatientName}}
    <h3>{{currentDate |date:'dd/MM/yyyy h:mm a'}}</h3>
</h2>


<mat-dialog-content class="mat-typography">
    <div class="container2">

        <div>
            <table mat-table [dataSource]="symptoms" class="mat-elevation-z8 table symptomsTable">
                <ng-container matColumnDef="name">
                    <mat-header-cell mat-header-cell *matHeaderCellDef> Symptoms </mat-header-cell>
                    <mat-cell mat-cell *matCellDef="let element">{{element}}</mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumnsSymptoms"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumnsSymptoms"></mat-row>
            </table>
        </div>


        <div>
            <table mat-table [dataSource]="possibleDiagnosis" class="mat-elevation-z8 diagnosisTable">
                <ng-container matColumnDef="name">
                    <mat-header-cell mat-header-cell *matHeaderCellDef> Possible Diagnosis </mat-header-cell>
                    <mat-cell class="flex justify-between items-center" mat-cell *matCellDef="let element"> <b>{{element.name}} </b> <p class="self-end">%{{ (element.probability * 100).toFixed(2)}}</p></mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumnsDiagnosis"></mat-header-row>
                <mat-row matRipple *matRowDef="let row; columns: displayedColumnsDiagnosis; let i = index" (click)="changeSelectedDiagnosis(row.name)"></mat-row>
            </table>
        </div>

    </div>

    <div class="container3">
        <h3 class="title">Final Decision: </h3>
        <mat-form-field class="decision" appearance="fill">
            <mat-label>Diagnosis</mat-label>
            <input type="text" placeholder="Select a Final Diagnosis" [(ngModel)]="selectedDiagnosis" matInput [formControl]="myControl" [matAutocomplete]="auto" #diagnosisInput tabindex="-1">
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="selected($event)">
                <mat-option *ngFor="let option of filteredDiagnoses | async" [value]="option">
                    {{option}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </div>

</mat-dialog-content>
<mat-dialog-actions align="end">
    <!-- <button mat-button mat-dialog-close (click)="updateTest(note)">Send Report</button> -->
    <button mat-button mat-dialog-close tabindex="-1">Cancel</button>
    <button mat-button mat-dialog-close [disabled]="!diagnoses.includes(selectedDiagnosis)" (click)="updateTest();" tabindex="-1">Finalize the Test</button>
</mat-dialog-actions>