<div class="container">
    <h1>RECOMMENDATION</h1>
    <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile>            
            <div class="container2">
                <mat-card class="example-card">

                    <mat-card-title class="title">{{title}}</mat-card-title>

                    <mat-card-content>
                        <p>{{description}}</p>
                    </mat-card-content>

                    <mat-divider inset></mat-divider>

                    <mat-card-actions>
                        <button mat-button routerLink="/monitoring" [disabled]="isDisabled">Start Monitoring</button>
                    </mat-card-actions>
                </mat-card>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="container2">
                <mat-card class="example-card">

                    <mat-card-title class="title">{{title}}</mat-card-title>
                    
                    <ul>
                        <ng-container *ngFor="let item of precautions; let i=index">
                            <br> <li>{{item}}</li>
                        </ng-container>    
                    </ul>
                    
                    <mat-divider inset></mat-divider><br>
                    
                    <mat-card-actions>
                        <button mat-button routerLink="/monitoring" [disabled]="isDisabled">Start Monitoring</button>
                    </mat-card-actions>
                </mat-card>
            </div>
        </mat-grid-tile>
    </mat-grid-list>


</div>