<div class="container">

    <mat-tab-group mat-align-tabs="center">
        <mat-tab label="Recommendation">
            <mat-card class="example-card">

                <mat-card-title class="title">Diet</mat-card-title>
                <mat-card-content>
                    <p>A diabetes diet simply means eating the healthiest foods in moderate amounts and sticking to regular mealtimes. A diabetes diet is a healthy-eating plan that's naturally rich in nutrients and low in fat and calories. Key elements are
                        fruits, vegetables and whole grains.</p>

                </mat-card-content>
                <mat-divider inset></mat-divider><br>
                <mat-card-title class="title">Exercise</mat-card-title>
                <mat-card-content>
                    <p>Everyone needs regular aerobic exercise, and people who have diabetes are no exception. Exercise lowers your blood sugar level by moving sugar into your cells, where it's used for energy. Exercise also increases your sensitivity to
                        insulin, which means your body needs less insulin to transport sugar to your cells.</p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button routerLink="/monitoring">Start Monitoring</button>
                </mat-card-actions>
            </mat-card>
        </mat-tab>
        <mat-tab label="Information">
            <mat-card class="example-card">

                <mat-card-title class="title">Diabetes</mat-card-title>
                <mat-card-content>
                    <p>Diabetes is a disease that occurs when your blood glucose, also called blood sugar, is too high. Blood glucose is your main source of energy and comes from the food you eat. Insulin, a hormone made by the pancreas, helps glucose from
                        food get into your cells to be used for energy. Sometimes your body doesn’t make enough—or any—insulin or doesn’t use insulin well. Glucose then stays in your blood and doesn’t reach your cells. Over time, having too much glucose
                        in your blood can cause health problems. Although diabetes has no cure, you can take steps to manage your diabetes and stay healthy. Sometimes people call diabetes “a touch of sugar” or “borderline diabetes.” These terms suggest
                        that someone doesn’t really have diabetes or has a less serious case, but every case of diabetes is serious.</p>
                </mat-card-content>
                <mat-divider inset></mat-divider>
            </mat-card>
        </mat-tab>

    </mat-tab-group>


</div>